html, body {
	height: 100%;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -20%;
}

.page-wrap:after {
	content:'';
	display: block;
}

.site-footer, .page-wrap:after {
	height: 10%;
}

.content-wrap {
	padding-left: 10%;
	margin-bottom: -5%;
}

#titletext{
	font-size: 5em !important;
}

#subtitletext {
	font-size: 3em !important;
}

.hero-body{
	margin-bottom:-3em !important;
	margin-top: -5em !important;
}